#toastContainerMain {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  width: 250px;
}

#toastContainerMain > div {
  background-color: #1877f2;
  color: #bdbdbd;
  width: 100%;
  margin-bottom: 20px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  font-size: 16px;
  animation: slide-in 0.2s;
  transition: all 0.3s ease;
}
.toastBody {
  color: #fff;
  font-size: 14px;
}

.toastHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

@keyframes slide-in {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.toastBtn {
  position: absolute;
  top: 0;
  right: 6px;
  background: none;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.toastBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
